nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px;
}
.logo {
}

nav > div {
  display: flex;
  gap: 20px;
}

nav > div > * {
  text-decoration: none;
  font-weight: bold;
}

.links > *:visited {
  color: black;
}

.links > *:hover {
  transform: scale(1.1);
}

.links > * {
  color: #0000;
  background: linear-gradient(90deg, #1095c1 50%, #000 0) var(--_p, 100%) / 200%
    no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  transition: 0.4s;
}
.links > *:hover {
  --_p: 0%;
}
